[project]
name = "starlette-session-middleware"
version = "0.0.0.a9"
readme = "README.md"
dependencies = [
    "starlette ~= 0.27",
    "typing_extensions>=3.10.0; python_version < '3.10'",
]

[project.optional-dependencies]
itsdangerous = ["itsdangerous~=2.1"]
jwt = ["PyJWT~=2.8"]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.package-data]
"starlette_session" = ["py.typed"]

[tool.setuptools.packages.find]
where = ["src"]
