[project]
name = "starlette-session-middleware"
version = "0.0.0.a1"
dependencies = [
    "starlette ~= 0.31",
    "typing_extensions>=3.10.0; python_version < '3.10'",
]

[project.optional-dependencies]
itsdangerous = ["itsdangerous~=2.1"]
jwt = ["PyJWT~=2.8"]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"ies.batch.data_retention_policy_enforcer.conf" = [ "logging.json" ]
