mypy
isort
pre-commit
bump2version
build
requests ~= 2.32
httpx ~= 0.24
trio ~= 0.21
python-dotenv ~= 1.0
pytest-xdist ~= 3.3
pytest-cov ~= 4.0
pytest ~= 7.1
-e '.[itsdangerous,jwt]'
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
