name: Continuous Delivery

on:
  push:
    tags:
      - v*

jobs:
  test-release:
    name: run tests before release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Run all tests and checks
        run: |
          pipx run tox run -e format,type-check,test

  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    needs: test-release
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Build package
        run: |
          pipx run build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
